.gitignore
Snakefile
TruSeq3-PE.fa
envs/strain_deg.yaml
.idea/
.snakemake/
err_corrected/
fastqc/
raw_reads/
trimmed/
blast_matches/
db/
pycharm_parameters_additional_blasts
trinity_assembly/
wget-log
orf_prediction/
sonicparanoid/
sonicparanoid_env/
sonicparanoid_out/
logs/
local_alignments/
screened_orthologs/
COS.std
codeml
concatenated_alignment
figures
master_tree
.nextflow*
work/
codeml_summary_dfs
.DS_Store
nf_error_corrected/
nf_fastqc_post_trim/
nf_fastqc_pre_trim/
nf_trimmed/
nf_trinity_assembly/
nf_transdecoder/
