.gitignore
Snakefile
TruSeq3-PE.fa
envs/strain_deg.yaml
.idea/
.snakemake/
err_corrected/
fastqc/
raw_reads/
trimmed/
blast_matches/
db/
pycharm_parameters_additional_blasts
trinity_assembly/
wget-log
orf_prediction/
sonicparanoid/
sonicparanoid_env/
sonicparanoid_out/
.DS_store
codeml_summary_dfs
figures
