// Global default params
params {

 //Threads for the various processes
 trimmomatic_threads = 4

 // Path to the TruSeq3 file for use in trimmomatic
 tru_seq_pe_fasta_path = "/home/humebc/projects/parky/breviolum_transcriptomes/TruSeq3-PE.fa"

 // Threads for the rcorrector
 rcorrector_threads = 4

 // Threads for Trinity
 trinity_threads = 8
}
