// Global default params
params {
 // The fastq SRA accessions to be downloaded and used in the making of the tree and the dnds values.
 // sra_list = ["SRR1793320", "SRR1793321", "SRR1793322", "SRR1793323", "SRR1793324", "SRR1793325", "SRR1793326", "SRR1793327", "SRR1795737", "SRR1795735"]
 // sra_list_as_csv = "Breviolumfaviinorum_Pclivosa,BreviolumB5_Sradians,SRR1793320,SRR1793321,SRR1793322,SRR1793323,SRR1793324,SRR1793325,SRR1793326,SRR1793327,SRR1795737,SRR1795735"
 
 // The full path to the directory that holds the fastq.gz paired files
 // raw_reads_dir = "/home/humebc/projects/parky/breviolum_transcriptomes/raw_reads"
 //Threads for the various processes
 trimmomatic_threads = 50

 // Threads for the rcorrector
 rcorrector_threads = 50

 // Threads for Trinity
 trinity_threads = 50

 // Threads for sonicparanoid
 sonicparanoid_threads = 200

 // Threads for the fasterq-dump
 fasterq_dump_threads = 8

 // Threads for raxml
 raxml_threads = 50

 // Whether to start from download, or from a folder that contains
 // a list of the fastq.gz pairs
 // We give this option because the download causes all sorts of problems
 from_download=false

 // Threads for mmseqs swissprot search
 mmseqs_sprot_threads = 50
 mmseqs_trembl_threads = 150
 mmseqs_nr_threads = 200

 // Threads for sprot blast
 blast_sprot_threads = 50


}
